.skinstric-subtitle {
  font-size: 128px;
  font-weight: 400;
  line-height: 1.4;
  font-family: 'Inter', sans-serif;
  color: #242424;
  margin: 0;
}

.skinstric-sub-indent {
  margin-left: 0.6rem;
  display: inline-block;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}