@font-face {
  font-family: 'Roobert';
  src: url('../assets/roobert-font/Roobert-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roobert';
  src: url('../assets/roobert-font/Roobert-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal
}
